* {
	margin: 0;
	padding: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
  font: 15px 'Montserrat', sans-serif;
  line-height: 1.7;
  /*background-image: url("alchemy.gif");*/
  background-repeat: repeat;

}

hr {
    display: block; 
    height: 0.5cm;
    border: 0; 
    border-top: 1px solid #000080;
    thickness: 1cm;
    margin: 1em 0; 
    padding: 0; 
}

h1 {
  padding: 0.2cm;
  padding-left: 0;
}

h2 {
  font-size: 26px;
  padding: 0.3cm;
  padding-left: 0;
}

h3 {
  padding: 0.2cm;
  padding-left: 0;
}

h4 {
  padding: 0.2cm;
  font-size: 18px;
  padding-left: 0;
}

#main-page {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

}

.info-card {
	margin: 1em;
	padding: 0;
	background-color: white;

  max-width: 25cm;
}

.photo-card {
	margin-top: 2em;

}

.point {
	padding-top: 2%;
	padding-bottom: 2%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.code-block {
  text-align: center;
  background-color: #161616;
  color: #A08563;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.code-block-left {
  text-align: left;
  padding: 1cm;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #161616;
  color: #A08563;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.code-function-name {
  color: red;
}
.code-variable-name {
  color: green;
}
.code-comment-name {
  color: gray;
}

.quiz-answer {
  background-color: #FAE8E0;
  padding: 0.1em;
  border-radius: 0.7em;
}

.email-list {
  text-align: center;
  /*background-color: #ffcccc;*/
  padding: 0.4cm;
  border-radius: 0.2cm;
}

.subscribe-btn {
  background-color: #FFE5B4;
  padding: 0.6cm;
  margin: 0.4cm;
  border: none;
  border-radius: 0.2cm;
}

.email-input-style {
  display: inline; 
  /*text-align: center;*/
  padding: 0.3cm;
  width: 7cm;
  height: 1cm;
}

.loader {
  text-align: center;
  border: 0.25cm solid white; /* Light grey */
  border-top: 0.25cm solid #f7dfd4; /* Blue */
  border-radius: 50%;
  width: 1cm;
  height: 1cm;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-bottom: 0.3cm;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.my-text-input {
  display: block;
  margin: auto;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
}

.rounded-card {
  text-align: center;
  border-radius: 0.3cm;
  background-color: #f7dfd4;
  padding: 0.3cm;
  width: 70%;
  min-width: 11cm;
  margin: auto;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  
}

.my-button-class {
  padding: 0.3cm;
}

.location-form-details {
  padding-top: 1cm;
}



/*////////////////////// START OF THE GREEN CHECK MARK ////////////////////////////////////*/
/*Green Check mark to say you completed part of the form*/
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
}

.animation_checkmark_circle {
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  
}

.animation_checkmark {
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  
}

.animation_checkmark_check {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
/*////////////////////// END OF THE GREEN CHECK MARK ////////////////////////////////////*/