<div>
<p>It's <b>{temperature}</b> degrees celcius today in {suburb} <img src={weatherIconStr}></p>
<p>The predicted rainfall today is <b>{rainfall}</b> millimeters</p>
<br>
<a href='#' id="reveal-future-data">See Next Five Days Weather 🔎</a>
<div id="future-rainfall-data" style='display: none;'>
<canvas id="futureRainfallChart" style="width:100%;max-width:700px;"></canvas>
<br>
<br>
<canvas id="futureCloudChart" style="width:100%;max-width:700px;"></canvas>
</div>


<hr>

<a href='#' id="reveal-past-data">See Last Five Days Weather 🔎</a>

<div id="previous-rainfall-data" style='display: none;'>
<p id='totalRainfall-id'></p>
<canvas id="rainfallChart" style="width:100%;max-width:700px;"></canvas>
<br>
<br>
<canvas id="cloudChart" style="width:100%;max-width:700px;"></canvas>
</div>
<hr>

</div>